* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #001AB8; 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.main_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    width: 98vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.11);
    border: 1px solid transparent;
    border-radius: 20px;
}


.div_title {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    /* background-color: red; */
    margin: 50px 0;
    width: auto;
}

.div_title img {
    width: 80px;
    height: 80px;
    margin: 0 25px;
}

.div_title h1 {
    margin: 0 25px;
}

.p_description {
    background-color: rebeccapurple;
    color: white;
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 25px;
    padding: 15px;
    font-size: small;
}

.text_box {
    background-color: rgb(32, 32, 32);
    color: white;
    width: 70%;
    min-height: 200px;
    max-height: 800px;
    resize: vertical;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 15px;
    margin-bottom: 25px;
}

.button_check_text {
    margin-bottom: 25px;
    padding: 8px 12px;
    font-size: medium;
}

.span_result {
    background-color: #FFFFFF;
    padding: 8px 12px;
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
    
}

.border_radius {
    border: 1px solid ;
    border-radius: 20px;
}

.button_check_text.pressed {
  background-color: blue !important;
  color: white !important;
}