* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #001AB8; 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.main_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    width: 98vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.11);
}


.div_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.div_title img {
    width: 80px;
    height: 80px;
}

.text_box {
    background-color: rgb(32, 32, 32);
    color: white;
    width: 70%;
    min-height: 200px;
    max-height: 800px;
    resize: vertical; /* el usuario puede estirar manualmente */
    overflow-y: auto; /* muestra scroll cuando llega al máximo */
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 15px;
}

.span_result {
    background-color: #FFFFFF;
    padding: 8px;
    width: auto;
    height: auto;
    text-align: center;
}

.border_radius {
    border: 1px solid ;
    border-radius: 20px;
}